{% extends 'FrontendBundle:Layouts:base.html.twig' %}

{% block body -%}
    <h3>Un error ha ocurrido</h3>
    <h4>El servidor devolvi&oacute; el error "{{ status_code }} {{ status_text }}". Cont&aacute;ctese con el administrador.</h4>
{% endblock %}