{% extends 'FrontendBundle:Layouts:base.html.twig' %}

{% block body -%}
    <h1>Areas</h1>
    <br/>
    {{ form(edit_form) }}
    <a href="{{ path('area') }}">Regresar</a>
    <br/>
    {{ render(controller('FrontendBundle:Area:index')) }}
{% endblock %}
