{% extends 'FrontendBundle:Layouts:base.html.twig' %}

{% block body -%}
    <h1>Provincias</h1>
    <br/>
    {{ form(edit_form) }}
    <a href="{{ path('provincia') }}">Regresar</a>
    <br/>
    {{ render(controller('FrontendBundle:Provincia:index')) }}
{% endblock %}
