{% extends 'FrontendBundle:Layouts:base.html.twig' %}

{% block body -%}
    <h1>Pasos de Pedidos</h1>
    <br/>
    {{ form(form) }}
    &nbsp;
    <br/>
    {{ render(controller('FrontendBundle:PasoPedido:index')) }}
{% endblock %}
