{% extends 'FrontendBundle:Layouts:base.html.twig' %}

{% block body -%}
    <h1>Países</h1>
    <br/>
    {{ form(edit_form) }}
    <a href="{{ path('pais') }}">Regresar</a>
    <br/>
    {{ render(controller('FrontendBundle:Pais:index')) }}
{% endblock %}
