{% extends 'FrontendBundle:Layouts:base.html.twig' %}

{% block body -%}
    <h1>PedidoProductos</h1>
    <br/>
    {{ form(form) }}
    &nbsp;
    <br/>
    {{ render(controller('FrontendBundle:PedidoProducto:index')) }}
{% endblock %}
